/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.flex{
    display: flex;
    .mat-form-field-infix{ display: flex; }
}
.full-width{width: 100%;}
ul{list-style-type: none;padding-left:0;}
a{color: #222;}